name: SLSA generic generator
on:
  workflow_dispatch:
  release:
    types: [created]
permissions: read-all
jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade pip wheel setuptools
          pip install PyAudio --only-binary=:all:
          pip install -r requirements.txt --only-binary=PyAudio
      - name: Build artifacts
        run: |
          python setup.py sdist bdist_wheel
      - name: Generate checksums
        shell: pwsh
        run: |
          $files = Get-ChildItem -Path "dist" -File
          foreach ($file in $files) {
            $hash = (Get-FileHash $file.FullName -Algorithm SHA256).Hash.ToLower()
            "$hash  $($file.Name)" | Out-File -Append -FilePath "dist\checksums.sha256"
          }
          Get-Content "dist\checksums.sha256"
      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
